.cardfund {
  width: 330px;
  height: 466px;
  background-color: #fff;
}

.cardfund > h3 {
  margin: 18px 23px;
  height: 56px;
}
.cardfund > p {
  margin: 0 23px;
  height: 38px;
  color: #616161;
}
.cardfund > div:nth-child(4) {
  margin: 21px 23px;
}
.cardfund > div:nth-child(5) {
  margin: 15px 23px;
  display: flex;
  justify-content: space-between;
}
.cardfund > div:nth-child(5) > div > p {
  font-weight: 800px;
}

.cardfund > div:nth-child(5) > div:nth-child(2) button {
  border: none;
  border-radius: 10px;
  background-color: #c32424;
  font-weight: 900;
  padding: 6px 25px;
  color: #fff;
}
.cardfund > div:nth-child(5) > div:nth-child(2) button:hover {
  cursor: pointer;
}
.cardfund > div:nth-child(5) > div:nth-child(2) button:active {
  opacity: 0.7;
}
