.navbar {
  padding: 19px 100px 19px 100px;
  background-color: #c32424;
  display: flex;
  justify-content: space-between;
}
.navbar > img {
  width: 65px;
  height: 45px;
}
.navbar > img:hover {
  cursor: pointer;
}

.navbar > div > #register {
  background-color: #e8e8e8;
  color: #c32424;
  border: none;
  border-radius: 10px;
  padding: 10px 22px;
  font-weight: 900;
}
.navbar > div > #register:hover {
  cursor: pointer;
}
.navbar > div > #register:active {
  opacity: 0.7;
}
.navbar > div > #login {
  font-weight: 900;
  color: #e8e8e8;
  background-color: transparent;
  border: none;
  padding: 10px 22px;
}
.navbar > div > #login:hover {
  cursor: pointer;
}
.navbar > div > #login:active {
  opacity: 0.7;
}
.navbar > div > img {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.navbar > div > img:hover {
  cursor: pointer;
}
.navbar > div > img:active {
  opacity: 0.7;
}
